body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-msg {
  text-align: right;
  color: #2b7a78;
  margin-bottom: 5px;
}

.bot-msg {
  text-align: left;
  color: #17252a;
  background: #def2f1;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
}
